<section *ngIf="wolf">
    <h1>{{wolf.name}}</h1>
    <div class="info">
        <div class="img-div">
            <img src={{wolf.image_url}} alt="imagem do lobo {{wolf.name}}">
            <div class="buttons">
                <a routerLink="/adopt/{{wolf.id}}"><button>ADOTAR</button></a>
                <button class="remove-button">EXCLUIR</button>
            </div>
        </div>
        <div class="text">
            <p>
                Não obstante, o surgimento do comércio virtual faz parte de um processo de gerenciamento do levantamento das variáveis envolvidas. Não obstante, o surgimento do comércio virtual faz parte de um processo de gerenciamento do levantamento das variáveis envolvidas.Não obstante, o surgimento do comércio virtual faz parte de um processo de gerenciamento do levantamento das variáveis envolvidas.Não obstante, o surgimento do comércio virtual faz parte de um processo de gerenciamento do levantamento das variáveis envolvidas.
            </p>
            <p>
                Não obstante, o surgimento do comércio virtual faz parte de um processo de gerenciamento do levantamento das variáveis envolvidas. Não obstante, o surgimento do comércio virtual faz parte de um processo de gerenciamento do levantamento das variáveis envolvidas.Não obstante, o surgimento do comércio virtual faz parte de um processo de gerenciamento do levantamento das variáveis envolvidas.Não obstante, o surgimento do comércio virtual faz parte de um processo de gerenciamento do levantamento das variáveis envolvidas.
            </p>
        </div>
       
    </div>
</section>

