.container{
    display: flex;
    justify-content: center;
    gap: 30px;
    max-width: 960px;
    flex-wrap: wrap;
}
.img-div{
    width: 430px;
    height: 328px;
    position: relative;
    z-index: 1;
}
.img-div::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color:#2C5680;
    border: 3px solid #333;
    z-index: -1;
    transform: translate(-5%, -6%);
}
.img-div img{
    width: 100%;
    height: 100%;
    border: 0.1px solid #333;
}
.info-div{
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 0 20px;
    position: relative;
}
.info-div h1{
    font-size: 1.8rem;
    font-weight: bold;
}
.info-div a{
    position: absolute;
    right: 50px;
    color: #fff;
    top: 0;
    font-size: 1.6rem;
    padding: 4px 10px;
    font-weight: 600;
    text-decoration: none;
}
.adotado{
    background-color: #7AAC3A;
    cursor:default;
}
.adotar{
    background-color: #DEB959;
    cursor: pointer;
}

.info-div span{
    font-size: 1.2rem;
}
.info-div p{
    font-size: 1.5rem;
    font-weight: 500;
    margin-top: 20px;
    min-width: 440px;
    max-width: 440px;
}

@media (max-width: 510px){
    .img-div{
       width: 350px;
       height: 248px;
    }
    .info-div{
        padding: 0 20px;
    }
    .info-div h1{
        font-size: 1.4rem;
    }
    .info-div p, span{
        font-size: 1.2rem;
        min-width: 300px;
    }
}
@media (max-width: 400px){
    .container{
        gap: 10px;
    }
    .img-div{
       width: 280px;
       height: 178px;
    }
    .info-div p, span{
        font-size: 1rem;
        min-width: 280px;
    }
    .info-div a{
        font-size: 1rem;
    }
}